*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
body{
  background: url(immagini/background.jpg);
  width: 100%;
  display: flex;
  background-size: cover;

}
.logo{
  width: 200px;
}
.container{
  border-radius: 30px;
  padding: 65px;
  width: min(100% - 485px);
  margin: auto;
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0.6);
}


header{
  color: #00cc00;
  text-align: center;

}

.Buttons{
  background-color: #00cc00;
  height: 35px;
  margin: 10px;
  padding: 5px;
  text-align: center;

}
main{
  color: white;
}

.row{
  background-color: #ffcc5c;
  width: 300px;
  border-radius: 5px;
  height: 20px;
}

.due{
  background-color: #32cd32;
  width: 500px;

}

.tre{
  background-color: #d96459;
  width: 120px;

}
